.boxFurlibre {
    border: solid 8px var(--theme-color);
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    aspect-ratio: 1/1;
}

.applyNoBack{
    background-color: transparent !important;
    box-shadow: 0px 1px 0px var(--neutral-color) !important;
}

nav{
    box-shadow: var(--box-shadow);
}
