
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Cores Gerais */
    --dark-color: rgb(29, 27, 35);
    --light-color: #f5f0fcec;
    --current-back-color: var(--dark-color);
    --current-text-color: var(--light-color);
    --neutral-dark: rgba(37, 36, 48, 0.495);
    /* Cores do Tema */
    --theme-color: #29ca8a;
    --theme-babilonic: #7d4cde;
    --error-color: #e62169;
    --success-color: var(--theme-color);

    /* Tamanhos de Texto */
    --p-text-size: 12pt;
    --mob-p-text-size: 11pt;
    --h1-text-size: 32pt;
    --mob-h1-text-size: 26pt;
    --h2-text-size: 16pt;
    --mob-h2-text-size: 12pt;
    --primary-bt-text-size: 10pt;

    /* Fontes */
    --font-family-primary: 'Unbounded', sans-serif;
    --font-family-secondary: 'Geologica', sans-serif;

    /* Espaçamentos */
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 32px;
    --padding-button: 18px 28px 18px 28px;
    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-large: 24px;

    /* Gaps */
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 24px;
    --gap-x-large: 48px;

    /* Outras Propriedades */
    --border-radius: 16px;
    --box-shadow: 0 0px 8px rgba(0, 0, 0, 0.375);

    --sec-dark: rgba(53, 47, 62, 0.779);
    --neutral-color: rgba(103, 97, 134, 0.245);
    --transition-duration: 0.3s;
}

/* Modo Claro (Exceção) */
:root.light-theme {
    --current-back-color: #e8ddf6;
    --current-text-color: rgb(76, 75, 97);
    --sec-dark: rgba(186, 178, 206, 0.588);
    --theme-color: #27b17a;
}